*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.login
{
    height: 100px;
    
    background-color: black;

    
}
.logincontainer
{
    height: 100px;
    width: 90%;
    
    margin: auto;
    display: flex;
    
}
.menu
{
    height: 100px;
    width: 100%;
   
    display: flex;
    justify-content: end;
    align-items: center;
   
}
.menu ul
{
    display: flex;
}
.menu ul li
{
    list-style: none;
    padding: 15px;
}
.menu ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav
{
  height: 100px;
    width: 100%;
    position: sticky;
    top: 0%;
    background-color: whitesmoke;
    left: 0%;
    
}
.navcontainer
{
    height: 100px;
    width: 90%;
   
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.logo
{
    height: 100px;
    width: 23%;
   
}
.logo img
{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.menubar
{
    display: flex;
}
.menubar ul
{
    display: flex;
}
.menubar ul li
{
    list-style: none;
    padding: 20px;
}
.menubar ul li a
{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menubar ul li a::after
{
    content: '';
    border: 1px solid black;
    display: block;
    width: 0%;
    margin: auto;
    display: none;
}
.menubar ul li a:hover:after
{
    display: block;
    transition: 0.7s;
    width: 100%;
}

.input
{
    height: 60px;
    width: 20%;
   
    border-radius: 50px;
    border: none;
    outline:none;
    border: 1px solid gray;
}
.input input
{
    height: 60px;
    width: 100%;
    border-radius: 50px;
    border: none;
    outline:none;
    border: 1px solid gray;
    padding-left: 40px;
    
}
.input i
{
    position: absolute;
    top: 44px;
    left: 1195px;
}
::placeholder
{
   
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner
{
    width: 100%;
    
}
.bannercontainer
{
    height: 500px;
    width: 90%;
    margin: auto;
   
    border-radius: 20px;
}
.banner img
{
    height: 500px;
    width: 100%;
    border-radius: 20px;
}
.hapscategories
{
    width: 100%;

    
}
.hapscontainer
{
    height: 50px;
    width: 90%;
    
    margin: auto;

}
.haps
{
    height: 50px;
    width: 100%;
  
}
.haps h1
{
    text-align: center;
    line-height: 50px;
    font-family:
     system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 20px;
     position: relative;
     
}
.haps h1::before
{
    content: '';
    height: 5px;
    width: 41%;
    position: absolute;
    border-bottom: 2px solid grey;
    left: 25px;
    top: 20px;

}
.haps h1::after
{
    content: '';
    height: 5px;
    width: 41%;
    position: absolute;
    border-bottom: 2px solid grey;
    right: 25px;
    top: 20px;

}
.imagescontainer
{
    height: 300px;
    width: 90%;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
}
.box1
{
    height: 300px;
    width: 24.7%;
   
    border-radius: 20px;

}
.box1 img
{
    height: 300px;
    width: 100%;
}
.box2
{
    height: 300px;
    width: 24.7%;
   
    border-radius: 20px;
    
}
.box2 img
{
    height: 300px;
    width: 100%;
}
.box3
{
    height: 300px;
    width: 24.7%;
  
    border-radius: 20px;
    
}
.box3 img
{
    height: 300px;
    width: 100%;
}
.box4
{
    height: 300px;
    width: 24.7%;
    
    border-radius: 20px;
    
}
.box4 img
{
    height: 300px;
    width: 100%;
}
.gallerycontainer
{
    height: 300px;
    width: 90%;
    margin: auto;
    
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.box1
{
    height: 300px;
    width: 24.7%;
   
    border-radius: 20px;

}
.box1 img
{
    height: 300px;
    width: 100%;
}
.box2
{
    height: 300px;
    width: 24.7%;
    
    border-radius: 20px;
    
}
.box2 img
{
    height: 300px;
    width: 100%;
}
.box3
{
    height: 300px;
    width: 24.7%;
   
    border-radius: 20px;
    
}
.box3 img
{
    height: 300px;
    width: 100%;
}
.box4
{
    height: 300px;
    width: 24.7%;
   
    border-radius: 20px;
    
}
.box4 img
{
    height: 300px;
    width: 100%;
}
.moments
{
    width: 100%;
    
}
.momentscontainer
{
    height: 50px;
    width: 90%;
    
    margin: auto;
    align-items: center;
}

.moms
{
    height: 50px;
    width: 100%;
}
.moms h1
{
    text-align: center;
    line-height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    position: relative;
}
.moms h1::before
{
    content: '';
    height: 5px;
    width: 41%;
    position: absolute;
    border-bottom: 2px solid grey;
    left: 25px;
    top: 20px;

}
.moms h1::after
{
    content: '';
    height: 5px;
    width: 41%;
    position: absolute;
    border-bottom: 2px solid grey;
    right: 25px;
    top: 20px;

}
.video
{
    width: 100%;
   
}
.videocontainer
{
    height: 400px;
    width: 90%;
    
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.box1
{
    height: 400px;
    width: 24%;
    
    

}
.box1 video
{
    height: 400px;
    width: 100%;
    border-radius: 10px;
}
.box9
{
    height: 400px;
    width: 24%;
    
    
}
.box9 img
{
    height: 400px;
    width: 100%;
    border-radius: 10px;
    
    
    
}
.box10
{
    height: 400px;
    width: 24%;
}
.box10 img

{
    height: 400px;
    width: 100%;
    border-radius: 10px;
}
.box4
{
    height: 400px;
    width: 24%;
}
.box4 video
{
    height: 400px;
    width: 100%;
    border-radius: 10px;
    border-radius: 10px;
}
.video2
{
    width: 100%;
}
.videocontainers
{
    height: 400px;
    width: 90%;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.box11
{
    height: 400px;
    width: 24%;
    
}
.box11 video
{
    height: 400px;
    width: 100%;
    border-radius: 20px;
}
.box12
{
    height: 400px;
    width: 24%;
    
}
.box12 video
{
    height: 400px;
    width: 100%;
    border-radius: 20px;

}
.box13
{
    height: 400px;
    width: 24%;
    
}
.box13 video
{
    height: 400px;
    width: 100%;
    border-radius: 20px;

}
.box14
{
    height: 400px;
    width: 24%;
    
}
.box14 img
{
    height: 400px;
    width: 100%;
    border-radius: 20px;
}
.videos
{
    width: 100%;
}
.videoscontainer
{
    height: 400px;
    width: 90%;
    margin: auto;
    
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.bone
{
    height: 400px;
    width: 24%;
    
}
.bone img
{
    height: 400px;
    width: 100%;
    border-radius: 20px;
}
.btwo
{
    height: 400px;
    width: 24%;
   
}
.btwo img
{
    height: 400px;
    width: 100%;
    border-radius: 20px;
}
.bthree
{
    height: 400px;
    width: 24%;
   
}
.bthree video
{
    height: 400px;
    width: 100%;
    border-radius: 20px;
}
.bfour
{
    height: 400px;
    width: 24%;
    
}
.bfour video
{
    height: 400px;
    width: 100%;
    border-radius: 20px;
}
.button
{
    width: 100%;
}
.buttoncontainer
{
    height: 80px;
    width:90% ;
    margin: auto;
   
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
button
{
    height: 40px;
    width: 10%;
    border-radius: 50px;
    border: none;
    outline: none;
   border: 1px solid grey;
   margin-top: 20px;
   background-color: white;

}
.footer
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    border-top: 1px solid black;
    
    
    
}
.footercontainer
{
    height: 300px;
    width: 90%;
    margin: auto;
    
    display: flex;
    
   
}
.f1
{
    height: 270px;
    width: 22%;
    margin-top: 50px;
    
   
}
.f2
{
    height: 270px;
    width: 22%;
    margin-top: 50px;
   
    
    
}
.f3
{
    height: 270px;
    width: 22%;
    margin-top: 50px;
   
}
.f4
{
    height: 270px;
    width: 22%;
    margin-top: 50px;
    
}
.follow h1
{
    text-align: center;
    line-height: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    position: relative;
    color: grey;
    
    
     
}
.follow h1::before
{
    content: '';
    height: 5px;
    width: 43%;
    position: absolute;
    border-bottom: 2px solid grey;
    left: 25px;
    top: 20px;

}
.follow h1::after
{
    content: '';
    height: 5px;
    width: 43%;
    position: absolute;
    border-bottom: 2px solid grey;
    right: 25px;
    top: 20px;

}
.icons
{
    width: 100%;
    
}
.iconcontainer
{
    height: 60px;
    width: 90%;
    margin: auto;
    
   
  
}
.box
{
    height: 40px;
    width: 20%;
  
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
 .box .i1
{
  
   height: 40px;
   width: 40px;
   border: 3px solid black;
   border-radius: 50%;
   background: conic-gradient(blue,green,darkblue);
   
   display: flex;
   align-items: center;
   justify-content: center;
   
    
   
}
.box .i1 i
{
    display: flex;
    color: aliceblue;
}




 .box .i2
{
    height: 40px;
    width: 40px;
    border: 3px solid black;
    border-radius: 50%;
    background: conic-gradient(blue,green,darkblue,red);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box .i2 i
{
    display: flex;
    color: aliceblue;
}
.box .i3 
{
    height: 40px;
    width: 40px;
    border: 3px solid black;
    border-radius: 50%;
    background: conic-gradient(red,orangered,blue,darkblue,yellow,purple);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box .i3 i
{
    display: flex;
    color: aliceblue;
}
.i4
{
   
    height: 40px;
    width: 40px;
    border: 3px solid black;
    border-radius: 50%;
    background: conic-gradient(purple,red,orangered,green,pink);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box .i4 i
{
    display: flex;
    color: aliceblue;
}

.i5
{
    height: 40px;
    width: 40px;
    border: 3px solid black;
    border-radius: 50%;
    background: conic-gradient(blue,purple,red);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.box .i5 i
{
    display: flex;
    color: aliceblue;
}

